<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body style="background-color: #ADD8E6;">
	<form action="#" th:action="@{/checkandupdate}" method="post"
		th:object="${bookingDetails}">

		<h1 style="text-align: center">Welcome to Mobi Hotel Reservation</h1>
		<h2 style="text-align: center">Confirmation</h2>
		<table
			style="border: 1px solid black; margin-left: auto; margin-right: auto;">
			<tr>
				<td><h2>Please confirm your reservation details:</h2></td>
			</tr>
			<tr>
				<td><h3>Your Name:</h3></td>
				<td><span th:text="${bookingDetails.name}"></span></td>
			</tr>
			<tr>
				<td><h3>Your Mobile Number:</h3></td>
				<td><span th:text="${bookingDetails.mobileNumber}"></span></td>
			</tr>
			<tr>
				<td><h3>Check-In Date:</h3></td>
				<td><span th:text="${bookingDetails.checkInDate}"></span></td>
			</tr>
			<tr>
				<td><h3>Check-Out Date:</h3></td>
				<td><span th:text="${bookingDetails.checkOutDate}"></span></td>
			</tr>
			<tr>
				<td><h3>Number of Rooms:</h3></td>
				<td><span th:text="${bookingDetails.numberOfRooms}"></span></td>
			</tr>
			<tr>
				<td><button type="submit">Confirm Your Booking</button></td>
			</tr>
		</table>
	</form>
</body>
</html>